openapi: 3.0.0
info:
  title: Vipps QR API
  version: '1.0'
  description: Api to generate QR codes for a Vipps payment and Merchant Redirects
  contact:
    name: Team Payment Experience
    url: 'https://vipps.no/kontakt-oss/bedrift/vipps/'
servers:
  - url: 'https://api.vipps.no/qr'
    description: Vipps QR api
paths:
  /v1:
    parameters: []
    post:
      summary: Create One Time Payment QR
      operationId: generateOtpQr
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimePaymentQrResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          description: Unauthorized
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneTimePaymentQrRequest'
        description: ''
      description: Endpoint for generating a Vipps QR for a merchant payment. Given a valid vippsLandingPageUrl this endpoint will return a QR for that payment.
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
      tags:
        - One time payment QR
  /v1/merchant-redirect:
    post:
      summary: Create merchant redirect QR
      operationId: CreateMerchantRedirectQr
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRedirectQrResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          description: Unauthorized
        '409':
          $ref: '#/components/responses/409Conflict'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
      description: Generate a QR that works as a redirect back to the merchant
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRedirectQrRequest'
        description: ''
      tags:
        - Merchant redirect QR
    parameters: []
    get:
      summary: Get all merchant redirect QRs
      operationId: GetAllMerchantRedirectQrs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRedirectQrResponseGetAll'
        '401':
          description: Unauthorized
      description: Get all merchant redirect QRs for this saleunit
      tags:
        - Merchant redirect QR
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Accept'
  '/v1/merchant-redirect/{id}':
    put:
      summary: Update redirectUrl for merchant redirect QR
      operationId: UpdateMerchantRedirectUrl
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRedirectQrResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          description: Unauthorized
        '404':
          $ref: '#/components/responses/404NotFound'
        '415':
          $ref: '#/components/responses/415UnsupportedMediaType'
      description: Update the redirect url (target destination) of the QR
      tags:
        - Merchant redirect QR
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRedirectQrUpdateRequest'
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
    delete:
      summary: Delete merchant redirect QR
      operationId: DeleteMerchantRedirectQr
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
        '404':
          $ref: '#/components/responses/404NotFound'
      description: Delete merchant redirect QR
      tags:
        - Merchant redirect QR
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: id for QR
    get:
      summary: Get merchant redirect QR by id
      operationId: GetMerchantRedirectQrById
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRedirectQrResponse'
        '401':
          description: Unauthorized
        '404':
          $ref: '#/components/responses/404NotFound'
      description: Get merchant redirect QR by id
      tags:
        - Merchant redirect QR
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Accept'
        - schema:
            type: string
          in: header
          name: Size
          description: 'Eks: 200. Then 200x200 px is set at dimension for Qr'
components:
  schemas:
    OneTimePaymentQrRequest:
      title: OneTimePaymentQrRequest
      type: object
      description: ''
      x-examples:
        example-1:
          url: 'https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'
      properties:
        url:
          type: string
          description: 'Url to the Vipps landing page, obtained from ecom/recurring apis'
          example: '   https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'
      required:
        - url
    OneTimePaymentQrResponse:
      title: OneTimePaymentQrResponse
      type: object
      x-examples: {}
      description: ''
      properties:
        url:
          type: string
          description: Link to QR image
          example: 'https://qr.vipps.no/generate/qr.png?...'
        expiresIn:
          type: integer
          description: How many seconds more this QR will be active
          example: 544
      required:
        - url
        - expiresIn
    QrErrorResponse:
      title: QrErrorResponse
      type: object
      x-examples:
        example-1:
          title: Order timeout
          detail: Payment has already timed out
          instance: 3cff3564-4a14-4481-8dbb-431087753eed
        example-2:
          title: Validation error
          detail: Supplied landing page token is not valid
          instance: 3cff3564-4a14-4481-8dbb-431087753eed
        Validation error:
          type: 'https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.1'
          title: One or more validation errors occurred.
          detail: BadRequest
          instance: 00-616e415f5af7584eb4d9369d0fe8d7cc-48b90041faff204c-00
          invalidParams:
            - name: RedirectUrl
              reason: 'The field RedirectUrl must match the regular expression ''^https://[\w\.]+([\w#!:.?+=&%@\-/]+)?$''.'
      properties:
        type:
          type: string
          minLength: 1
        title:
          type: string
          minLength: 1
        detail:
          type: string
          minLength: 1
        instance:
          type: string
          minLength: 1
        invalidParams:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                minLength: 1
              reason:
                type: string
                minLength: 1
            required:
              - name
              - reason
      required:
        - title
        - detail
        - instance
    MerchantRedirectQrRequest:
      title: MerchantRedirectQrRequest
      type: object
      x-examples: {}
      properties:
        id:
          type: string
          description: Merchant supplied Id for QR
          example: billboard_1
          pattern: '^[A-Za-z0-9-_æøåÆØÅ]+$'
          nullable: true
        redirectUrl:
          type: string
          format: uri
          description: The target url of the QR (redirect destination)
          pattern: '^https:\/\/[\w\.]+([\w#!:.?+=&%@\-\/]+)?$'
          example: 'https://www.example.com/myProduct'
          nullable: true
      required:
        - id
        - redirectUrl
    MerchantRedirectQrResponse:
      title: MerchantRedirectQrResponse
      type: object
      x-examples: {}
      properties:
        id:
          type: string
          description: Merchant supplied Id for QR
          example: billboard_1
          pattern: '^[A-Za-z0-9-_æøåÆØÅ]+$'
        url:
          type: string
          format: uri
          description: Link to QR image
          example: 'https://qr.vipps.no/generate/qr.png?...'
        redirectUrl:
          type: string
          description: The target url of the QR (redirect destination)
          pattern: '^https:\/\/[\w\.]+([\w#!:.?+=&%@\-\/]+)?$'
          example: 'https://www.example.com/myProduct'
      required:
        - id
        - url
        - redirectUrl
    MerchantRedirectQrResponseGetAll:
      title: MerchantRedirectQrResponseGetAll
      x-examples: {}
      type: array
      items:
        $ref: '#/components/schemas/MerchantRedirectQrResponse'
    MerchantRedirectQrUpdateRequest:
      title: MerchantRedirectQrUpdateRequest
      type: object
      description: Model for put-requests
      properties:
        redirectUrl:
          type: string
          format: uri
          pattern: '^https:\/\/[\w\.]+([\w#!:.?+=&%@\-\/]+)?$'
          example: 'https://example.com/myProduct'
      required:
        - redirectUrl
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
  parameters:
    Ocp-Apim-Subscription-Key:
      name: Ocp-Apim-Subscription-Key
      in: header
      required: true
      schema:
        type: string
      description: Subscription Key
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: Bearer <access_token>
    Accept:
      name: Accept
      in: header
      required: true
      schema:
        type: string
        enum:
          - image/*
          - image/png
          - image/svg+xml
          - text/targetUrl
      description: 'Requested image format. Supported values: {image/*,image/png, image/svg+xml, text/targetUrl}'
  responses:
    415UnsupportedMediaType:
      description: Unsupported Media Type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QrErrorResponse'
    400BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QrErrorResponse'
    409Conflict:
      description: Conflict
      content:
        application/json:
          schema:
            properties:
              id:
                type: string
    404NotFound:
      description: Not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/QrErrorResponse'
tags:
  - name: Merchant redirect QR
  - name: One time payment QR
security:
  - BearerToken: []
