openapi: 3.0.0
info:
  title: Vipps QR API
  version: '1.0.2'
  description: API to generate QR codes for a Vipps payment
  contact:
    name: Team eCom
    url: 'https://vipps.no/kontakt-oss/bedrift/vipps/'
servers:
  - url: 'https://api.vipps.no/qr'
    description: Vipps QR API
paths:
  /v1:
    parameters: []
    post:
      summary: Generation of QR code
      operationId: generateQr
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QR'
              examples:
                example-1:
                  value:
                    url: https://qr.vipps.no/generate/qr.png?....
                    expiresIn: 544
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    title: Validation error
                    detail: Supplied landing page token is not valid
                    instance: 3cff3564-4a14-4481-8dbb-431087753eed
                example-2:
                  value:
                    title: Order timeout
                    detail: Payment has already timed out
                    instance: 3cff3564-4a14-4481-8dbb-431087753eed
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandingPageUrl'
        description: ''
      description: >-
        Endpoint for generating a Vipps QR code for a merchant payment.
        Given a valid vippsLandingPageUrl this endpoint will return a QR code for that payment.
      parameters:
        - schema:
            type: string
            example: image/png
            enum:
              - image/png
              - image/*
          in: header
          name: Accept
          required: true
          description: Requested image format
        - schema:
            type: string
          in: header
          name: Ocp-APIm-Subscription-Key
          description: Subscription Key
          required: true
      tags:
        - QR
components:
  schemas:
    LandingPageUrl:
      title: LandingPageUrl
      type: object
      properties:
        url:
          type: string
          description: 'URL to the Vipps landing page, obtained from ecom/recurring apis'
          example: '   url: ''https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'''
          pattern: 'https?:\/\/'
      required:
        - url
    QR:
      title: QR
      type: object
      properties:
        url:
          type: string
          description: Link to QR code image
        expiresIn:
          type: integer
          description: How many seconds more this QR code will be active
    Error:
      title: Error
      type: object
      properties:
        title:
          type: string
          description: Title for the error
        detail:
          type: string
          description: Detailed description of the error
        instance:
          type: string
          description: UUID for the request
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
tags:
  - name: QR
security:
  - BearerToken: []
