openapi: 3.0.0
info:
  title: Vipps QR API
  version: '1.0'
  description: Api to generate QR codes for a Vipps payment and Merchant Redirects
  contact:
    name: Team Payment Experience
    url: 'https://vipps.no/kontakt-oss/bedrift/vipps/'
servers:
  - url: 'https://api.vipps.no/qr'
    description: Vipps QR api
paths:
  /v1:
    parameters: []
    post:
      summary: Create One Time Payment QR
      operationId: generateOtpQr
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OneTimePaymentQrResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrErrorResponse'
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OneTimePaymentQrRequest'
        description: ''
      description: Endpoint for generating a Vipps QR for a merchant payment. Given a valid vippsLandingPageUrl this endpoint will return a QR for that payment.
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
      tags:
        - One time payment QR
  /v1/merchantRedirect:
    post:
      summary: Create merchant redirect QR
      operationId: CreateMerchantRedirectQr
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRedirectQrResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QrErrorResponse'
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '415':
          description: Unsupported Media Type
      description: Generate a QR that works as a redirect back to the merchant
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRedirectQrRequest'
        description: ''
      tags:
        - Merchant redirect QR
    parameters: []
components:
  schemas:
    OneTimePaymentQrRequest:
      title: OneTimePaymentQrRequest
      type: object
      description: ''
      x-examples:
        example-1:
          url: 'https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'
      properties:
        url:
          type: string
          description: 'Url to the Vipps landing page, obtained from ecom/recurring apis'
          example: '   https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'
      required:
        - url
    OneTimePaymentQrResponse:
      title: OneTimePaymentQrResponse
      type: object
      x-examples: {}
      description: ''
      properties:
        url:
          type: string
          description: Link to QR image
          example: 'https://qr.vipps.no/generate/qr.png?...'
        expiresIn:
          type: integer
          description: How many seconds more this QR will be active
          example: 544
      required:
        - url
        - expiresIn
    QrErrorResponse:
      title: QrErrorResponse
      type: object
      x-examples:
        example-1:
          title: Order timeout
          detail: Payment has already timed out
          instance: 3cff3564-4a14-4481-8dbb-431087753eed
        example-2:
          title: Validation error
          detail: Supplied landing page token is not valid
          instance: 3cff3564-4a14-4481-8dbb-431087753eed
        Validation error:
          type: 'https://datatracker.ietf.org/doc/html/rfc7231#section-6.5.1'
          title: One or more validation errors occurred.
          detail: BadRequest
          instance: 00-616e415f5af7584eb4d9369d0fe8d7cc-48b90041faff204c-00
          invalidParams:
            - name: RedirectUrl
              reason: 'The field RedirectUrl must match the regular expression ''^https://[\w\.]+([\w#!:.?+=&%@\-/]+)?$''.'
      properties:
        type:
          type: string
          description: The rfc documentation of the response
          example: Validation error
        title:
          type: string
          description: Title for the error
          example: Validation error
        detail:
          type: string
          description: Detailed description of the error
          example: Supplied landing page token is not valid
        instance:
          type: string
          description: UUID for the request
          example: 3cff3564-4a14-4481-8dbb-431087753eed
        invalidParams:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
                description: The name of the fields not validating
              reason:
                type: string
                description: The reason for not validating
            required:
              - name
              - reason
      required:
        - title
        - detail
        - instance
    MerchantRedirectQrRequest:
      title: MerchantRedirectQrRequest
      type: object
      x-examples: {}
      properties:
        id:
          type: string
          description: Merchant supplied Id for QR
          example: billboard_1
          nullable: true
        redirectUrl:
          type: string
          format: uri
          description: The target url of the QR (redirect destination)
          pattern: '^https:\/\/[\w\.]+([\w#!:.?+=&%@\-\/]+)?$'
          example: 'https://www.example.com/myProduct'
          nullable: true
      required:
        - id
        - redirectUrl
    MerchantRedirectQrResponse:
      title: MerchantRedirectQrResponse
      type: object
      x-examples: {}
      properties:
        id:
          type: string
          description: Merchant supplied Id for QR
          example: billboard_1
        url:
          type: string
          format: uri
          description: Link to QR image
          example: 'https://qr.vipps.no/generate/qr.png?...'
      required:
        - id
        - url
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
  parameters:
    Ocp-Apim-Subscription-Key:
      name: Ocp-Apim-Subscription-Key
      in: header
      required: true
      schema:
        type: string
      description: Subscription Key
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: Bearer <access_token>
    Accept:
      name: Accept
      in: header
      required: true
      schema:
        type: string
      description: Requested image format
tags:
  - name: Merchant redirect QR
  - name: One time payment QR
security:
  - BearerToken: []
