openapi: 3.0.0
info:
  title: qr-api
  version: '1.0'
  description: Api to generate qr code for a vipps payment
  contact:
    name: Team ecom
    url: 'https://vipps.no/kontakt-oss/bedrift/vipps/'
servers:
  - url: 'https://api.vipps.no'
    description: vipps qr api
paths:
  /qr/v1:
    parameters: []
    post:
      summary: Generation of QR
      operationId: generateQr
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QR_Response'
              examples:
                example-1:
                  value:
                    url: 'https://qr.vipps.no/generate/qr.png?....'
                    expiresIn: 544
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    title: Validation error
                    detail: Supplied landing page token is not valid
                    instance: 3cff3564-4a14-4481-8dbb-431087753eed
                example-2:
                  value:
                    title: Order timeout
                    detail: Payment has already timed out
                    instance: 3cff3564-4a14-4481-8dbb-431087753eed
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandingPageUrl'
            examples:
              example-1:
                value:
                  url: '   url: ''https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'''
        description: ''
      description: Endpoint for generating a Vipps QR for a merchant payment. Given a valid vippsLandingPageUrl this endpoint will return a QR for that payment.
      parameters:
        - schema:
            type: string
            example: image/png
            enum:
              - image/png
              - image/*
              - text/targetUrl
          in: header
          name: Accept
          required: true
          description: Requested image format
        - schema:
            type: string
          in: header
          name: Ocp-Apim-Subscription-Key
          description: Subscription Key
          required: true
      tags:
        - QR
      security:
        - BearerToken: []
components:
  schemas:
    LandingPageUrl:
      title: LandingPageUrl
      type: object
      properties:
        url:
          type: string
          description: 'Url to the Vipps landing page, obtained from ecom/recurring apis'
          example: '   url: ''https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'''
      required:
        - url
      description: 'Url must start with https://'
      x-examples:
        example-1:
          url: '   url: ''https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'''
    QR_Response:
      title: QR_Response
      type: object
      properties:
        url:
          type: string
          description: Link to QR image
        expiresIn:
          type: integer
          description: How many seconds more this QR will be active
    Error:
      title: Error
      type: object
      properties:
        title:
          type: string
          description: Title for the error
        detail:
          type: string
          description: Detailed description of the error
        instance:
          type: string
          description: UUID for the request
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
tags:
  - name: QR
security:
  - BearerToken: []
