openapi: 3.0.0
info:
  title: Vipps QR API
  version: '1.0'
  description: Api to generate qr code for a vipps payment
  contact:
    name: Team ecom
    url: 'https://vipps.no/kontakt-oss/bedrift/vipps/'
servers:
  - url: 'https://api.vipps.no/qr'
    description: vipps qr api
paths:
  /v1:
    parameters: []
    post:
      summary: Generation of One Time Payment QR
      operationId: generateQr
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QR_Response'
              examples:
                example-1:
                  value:
                    url: 'https://qr.vipps.no/generate/qr.png?....'
                    expiresIn: 544
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                example-1:
                  value:
                    title: Validation error
                    detail: Supplied landing page token is not valid
                    instance: 3cff3564-4a14-4481-8dbb-431087753eed
                example-2:
                  value:
                    title: Order timeout
                    detail: Payment has already timed out
                    instance: 3cff3564-4a14-4481-8dbb-431087753eed
        '401':
          description: Unauthorized
        '415':
          description: Unsupported Media Type
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LandingPageUrl'
            examples:
              example-1:
                value:
                  url: '   url: ''https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'''
        description: ''
      description: Endpoint for generating a Vipps QR for a merchant payment. Given a valid vippsLandingPageUrl this endpoint will return a QR for that payment.
      parameters:
        - $ref: '#/components/parameters/Accept'
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Authorization'
      tags:
        - One time payment QR
  /v1/merchantRedirect:
    post:
      summary: Create merchant redirect QR
      operationId: CreateMerchantRedirectQr
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRedirectQrResponse'
              examples:
                'example-1 ':
                  value:
                    id: billboard_1
                    url: 'https://qr.vipps.no/generate/qr.png?qr-only=true&uri=https://qr-test.vipps.no/c/VFbOmash'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '409':
          description: Conflict
        '415':
          description: Unsupported Media Type
      description: Generate a QR qith custom target url
      parameters:
        - $ref: '#/components/parameters/Ocp-Apim-Subscription-Key'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/Accept'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRedirectQrRequest'
            examples:
              example-1:
                value:
                  id: billboard_1
                  url: 'https://example.com/myProduct'
        description: ''
      tags:
        - Merchant redirect QR
    parameters: []
    get:
      summary: Get all QRs
      operationId: get-v1-merchantRedirect
      responses:
        '200':
          description: OK
      description: Get all QRs created for one saleunit
  '/v1/merchantRedirect/{id}':
    put:
      summary: ''
      operationId: put-v1-merchantRedirect
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRedirectQrResponse'
      description: Update redirectUrl
    delete:
      summary: ''
      operationId: delete-v1-merchantRedirect
      responses:
        '200':
          description: OK
      description: Delete QR
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: id for QR
    get:
      summary: ''
      operationId: get-v1-merchantRedirect-id
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantRedirectQrResponse'
      description: Get QR from id
components:
  schemas:
    LandingPageUrl:
      title: LandingPageUrl
      type: object
      description: 'Url must start with https://'
      x-examples:
        example-1:
          url: 'https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'
      properties:
        url:
          type: string
          description: 'Url to the Vipps landing page, obtained from ecom/recurring apis'
          example: '   https://api.vipps.no/dwo-api-application/v1/deeplink/vippsgateway?v=2&token=eyJraWQiO....'
      required:
        - url
    QR_Response:
      title: QR_Response
      type: object
      properties:
        url:
          type: string
          description: Link to QR image
        expiresIn:
          type: integer
          description: How many seconds more this QR will be active
    Error:
      title: Error
      type: object
      properties:
        title:
          type: string
          description: Title for the error
        detail:
          type: string
          description: Detailed description of the error
        instance:
          type: string
          description: UUID for the request
    MerchantRedirectQrRequest:
      title: MerchantRedirectQrRequest
      type: object
      properties:
        id:
          type: string
          nullable: true
        url:
          type: string
          format: uri
          nullable: true
      required:
        - id
        - url
    MerchantRedirectQrResponse:
      title: MerchantRedirectQrResponse
      type: object
      properties:
        id:
          type: string
          minLength: 1
        url:
          type: string
          minLength: 1
          format: uri
      required:
        - id
        - url
  securitySchemes:
    BearerToken:
      type: http
      scheme: bearer
  parameters:
    Ocp-Apim-Subscription-Key:
      name: Ocp-Apim-Subscription-Key
      in: header
      required: true
      schema:
        type: string
      description: Subscription Key
    Authorization:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
      description: Bearer <access_token>
    Accept:
      name: Accept
      in: header
      required: true
      schema:
        type: string
      description: Requested image format
tags:
  - name: Merchant redirect QR
  - name: One time payment QR
security:
  - BearerToken: []
